<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/otp.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trykker:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="otp">
      <main class="empty-parent">
        <div class="empty">
          <div class="frame-parent15">
            <div class="frame-wrapper2">
              <div class="frame-parent16">
                <div class="frame-parent17">
                  <div class="frame-wrapper3">
                    <div class="wrapper7">
                      <div class="div47">-</div>
                    </div>
                  </div>
                  <div class="frame-wrapper4">
                    <div class="wrapper8">
                      <div class="div48">-</div>
                    </div>
                  </div>
                  <div class="frame-wrapper5">
                    <div class="wrapper9">
                      <div class="div49">-</div>
                    </div>
                  </div>
                  <div class="frame-wrapper6">
                    <div class="wrapper10">
                      <div class="div50">-</div>
                    </div>
                  </div>
                  <div class="frame-wrapper7">
                    <div class="wrapper11">
                      <div class="div51">-</div>
                    </div>
                  </div>
                  <div class="frame-wrapper8">
                    <div class="wrapper12">
                      <div class="div52">-</div>
                    </div>
                  </div>
                </div>
                <div class="resent-otp-wrapper">
                  <b class="resent-otp">Resent OTP</b>
                </div>
              </div>
            </div>
            <div class="rectangle-parent9">
              <div class="frame-child20"></div>
              <div class="frame-wrapper9">
                <div class="frame-parent18">
                  <div class="image-19-wrapper">
                    <img
                      class="image-19-icon1"
                      loading="lazy"
                      alt=""
                      src="/img/image-19@2x.png"
                    />
                  </div>
                  <div class="sent-otp-on">Sent OTP on Your Email</div>
                </div>
              </div>
              <div class="frame-parent19">
                <button class="vector-parent">
                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/img/rectangle-4.svg"
                  />

                  <b class="sumbit">Sumbit</b>
                </button>
                <div class="back-to-login-page-wrapper">
                  <div class="back-to-login">Back to Login Page</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dont-have-an-container">
          <p class="dont-have-an-account-sign-up">
            <span class="dont-have-an">Don't have an account? </span>
            <a class="sign-up" href="page-register.html" target="_blank">
              <span class="sign-up1">Sign up</span>
            </a>
          </p>
        </div>
      </main>
      <div class="wireframe-1"></div>
    </div>
  </body>
</html>
