:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 709px;
  height: 969px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 638px;
  height: 902px;
  top: 31px;
  left: 45px;
  font-size: 0px;
  background: #d1e2e9;
  z-index: 10;
  border-radius: 20px;
}
.staff-name {
  display: block;
  position: relative;
  height: 33px;
  margin: 276px 0 0 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.rectangle-1 {
  position: relative;
  width: 568px;
  height: 45px;
  margin: 22px 0 0 39px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 31;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-2 {
  position: relative;
  width: 547.5px;
  height: 61px;
  margin: 421.5px 0 0 39px;
  background: url(./assets/images/b21f5466-2d8f-42e5-afcd-340478525be2.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.cancel {
  position: absolute;
  width: 170px;
  height: 31.456px;
  top: 13.5px;
  left: 47px;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 17;
}
.submit-button {
  position: absolute;
  width: 170px;
  height: 31.456px;
  top: 13.5px;
  left: 378px;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 18;
}
.image {
  position: absolute;
  width: 29px;
  height: 30px;
  top: 11px;
  left: 593px;
  background: url(./assets/images/ecf5db18c491c376acd15772dd7da719e49e47c8.png)
    no-repeat center;
  background-size: contain;
  z-index: 11;
}
.rectangle-button {
  position: absolute;
  width: 453px;
  height: 56.824px;
  top: 13px;
  left: 90px;
  cursor: pointer;
  background: #042068;
  border: none;
  z-index: 13;
  border-radius: 20px;
}
.add-allocations {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 389px;
  height: 63.926px;
  top: 26.191px;
  left: 171px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.727px;
  text-align: left;
  z-index: 15;
}
.rectangle-3 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 126px;
  left: 313px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 25;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.staff-id {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 31.456px;
  top: 133px;
  left: 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.course-code {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 200px;
  left: 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.rectangle-4 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 203px;
  left: 313px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 26;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-5 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 409px;
  left: 313px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 27;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.year {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 414px;
  left: 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.rectangle-6 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 493px;
  left: 313px;
  background: no-repeat center;
  background-size: cover;
  z-index: 30;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.num-of-students {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 505px;
  left: 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.rectangle-7 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 574px;
  left: 317px;
  background: no-repeat center;
  background-size: cover;
  z-index: 28;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.mode-of-exam {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 580px;
  left: 39px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.rectangle-8 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 654px;
  left: 317px;
  background: no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.semester {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 660px;
  left: 39px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.flex-column-abe {
  position: absolute;
  width: 69px;
  height: 29px;
  top: 93px;
  left: 50%;
  transform: translate(-758.7%, 0);
  z-index: 8;
}
.line {
  position: relative;
  width: 49px;
  margin: 0 0 0 20px;
  background: url(./assets/images/84db73b1-3142-416c-a3ff-c88cf77e0549.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.line-9 {
  position: relative;
  width: 49px;
  margin: 3px 0 0 0;
  background: url(./assets/images/3d6cbc64-4a22-40d7-b4fc-122ae7a9a502.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.line-a {
  position: relative;
  width: 49px;
  margin: 9px 0 0 20px;
  background: url(./assets/images/bce94b17-4b31-4d73-8955-be32a0565647.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.line-b {
  position: relative;
  width: 49px;
  margin: 3px 0 0 0;
  background: url(./assets/images/5e4eb42a-93a5-4409-b16a-8c365e4df3f2.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.line-c {
  position: relative;
  width: 38px;
  margin: 11px 0 0 20px;
  background: url(./assets/images/c88ac59a-1c82-423c-bf96-f326b03e9f6a.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.line-d {
  position: relative;
  width: 38px;
  margin: 3px 0 0 0;
  background: url(./assets/images/57f929ef-3d86-42d3-b5a5-2e902340b110.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 6px;
  height: 13px;
  top: 553px;
  left: 1677px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 12.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
