<div class="topbar-menu">
    <div class="topbar-menu-child"></div>
    <div class="topbar-menu-inner">
        <div class="frame-group">
            <div class="frame-wrapper">
                <div class="oxfordtrans-1-parent">
                    <img class="oxfordtrans-1-icon1" loading="lazy" alt="" src="/img/oxfordtrans-1@2x.png" />

                    <div class="oxford-trans-parent">
                        <div class="line-group">
                            <div class="line-div"></div>
                            <div class="frame-child11"></div>
                            <div class="frame-child12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="university-of-ghana1">University of Ghana</h2>
        </div>
    </div>
    <div class="profile-menu">
        <div class="frame-container">
            <div class="frame-div">
                <div class="frame-parent1">
                    <div class="frame-wrapper1">
                        <div class="user-image-parent">
                            <div class="user-image" data-scroll-to="userImage"></div>
                            <img class="profile-1-icon1" loading="lazy" alt="" src="/img/profile-1@2x.png" />

                            <div class="hi-justice-parent">
                                <h2 class="hi-justice1" id="hiJusticeText">
                                    Hi, {{name}}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <a href="/ui/timetable" class="rectangle-parent4">
                        <div class="frame-child13"></div>
                        <img class="image-23-icon2" loading="lazy" alt="" src="/img/image-23@2x.png" />

                        <div class="timetable-wrapper">
                            <h3 class="timetable3">Timetable</h3>
                        </div>
                    </a>
                </div>
            </div>
            <a href="/ui/courses" class="home-1-group">
                <img class="home-1-icon1" alt="" src="/img/home-1@2x.png" />

                <b class="home1">HOME</b>
                <div class="frame-child14"></div>
                <img class="image-24-icon1" alt="" src="/img/image-24@2x.png" />

                <div class="courses-wrapper">
                    <b class="courses1">Courses</b>
                </div>
            </a>
        </div>
        <div class="lecturers-allocations-parent">
            <a href="/ui/lecturers" class="rectangle-parent5">
                <div class="frame-child15"></div>
                <img class="image-25-icon1" alt="" src="/img/image-25@2x.png" />

                <div class="lecturers-wrapper">
                    <b class="lecturers1">Lecturers</b>
                </div>
            </a>
            <a href="/ui/allocations" class="home-6-group">
                <div class="home-61"></div>
                <div class="frame-child16"></div>
                <img class="history-icon1" alt="" src="/img/history@2x.png" />

                <div class="allocations-container">
                    <b class="allocations1">Allocations</b>
                </div>
            </a>
        </div>
        <a href="/ui/tickets" class="rectangle-parent6">
            <div class="frame-child17"></div>
            <img class="image-22-icon1" alt="" src="/img/image-22@2x.png" />

            <div class="tickets-wrapper">
                <b class="tickets1">Tickets</b>
            </div>
        </a>
    </div>
    <div class="rectangle-parent7">
        <div class="frame-child18"></div>
        <img class="image-20-icon1" loading="lazy" alt="" src="/img/image-20@2x.png" />

        <div class="logout-wrapper">
            <h3 class="logout1">Logout</h3>
        </div>
    </div>
</div>