<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/timetable.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trykker:wght@400&display=swap" />




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <script src="/js/api.js"></script>

  <style>
    .input_DIV {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      margin-top: 0.1rem;
    }

    .input {
      border-radius: 1rem;
      height: 3rem;
    }

    .input_DIV label {
      margin-top: 10px;
    }

    .course_title {
      font-weight: 500;
      background: #052169;
      padding: 0.5rem;
      border-radius: 50px;
      font-size: 16px;
      color: white;
      width: 50%;
      left: 25%;
      right: 25%;
      margin-top: -2rem;
    }

    .buttons {
      width: 10rem !important;
      padding: 0.5rem !important;
      border-radius: 25px;
      border: 10px solid white;
    }

    .buttons:hover {
      cursor: pointer;
    }

    .cancel {
      background: red !important;
      text-decoration: none;
      color: white;
    }

    .confirm {
      background: #052169;
      color: white;
    }

      {
        {
        !- --
      }
    }
  </style>
</head>

<body>
  <div id="add-new-entry" class="modal add-course-form">
    <div class="main-container">
      <div class="rectangle">
        <h6 class="couse_head" align="center">
          <span class="course_title">ADD COURSE </span>
        </h6>

        <div style="margin-top: 1rem;">
          <div class="input_DIV">

            <input type="text" class="input" id="course_code">

            <Label for="course_code">Course Code</Label>

          </div>

          <div class="input_DIV">

            <input type="text" class="input" id="course_name">

            <Label for="course_name">Course Name</Label>

          </div>

          <div class="input_DIV">

            <input type="text" class="input" id="course_period">

            <Label for="course_period">Study Period</Label>

          </div>

          <div class="input_DIV">

            <input type="text" class="input" id="course_credits">

            <Label for="course_credits">Academic Credits</Label>

          </div>
        </div>



        <h6 class="rectangle-5" align="center" style="padding: 10px;">
          {{!-- <a href="#" rel="modal:close" class="buttons cancel">CANCEL</a> --}}
          <button class="submit-button buttons confirm">SUBMIT</button>
        </h6>
      </div>

      <div class="flex-column">
        <div class="line"></div>
        <div class="line-6"></div>
        <div class="line-7"></div>
        <div class="line-8"></div>
        <div class="line-9"></div>
        <div class="line-a"></div>
      </div>
      <span class="text-2"></span>
    </div>
    
  </div>

  <div class="course-database" id="courseDatabaseContainer">
    <div class="course-database-child"></div>
    <div class="course-database-item"></div>
    <div class="course-database-inner"></div>
    {{> sidebar}}
    <section class="content-header-wrapper">
      <div class="content-header">
        <div class="content-nav">
          <div class="content-nav-child"></div>
          <div class="courses-database-wrapper">
            <h1 class="courses-database">Courses Database</h1>
          </div>
          <div class="notification-1-1-parent">
            <img class="notification-1-1" loading="lazy" alt="" src="/img/notification-1-1@2x.png" />

            <div class="message-1-wrapper">
              <img class="message-1-icon" loading="lazy" alt="" src="/img/message-1@2x.png" />
            </div>
          </div>
        </div>
        <div class="search-container-wrapper">
          <div class="search-container">
            <div class="search-input-container">
              <div class="search-input-wrapper-parent">
                <div class="search-input-wrapper">
                  <div class="search-bar">
                    <a class="search">Search</a>
                    <div class="search-icons">
                      <div class="search-input-background"></div>
                      <img class="image-26-icon" loading="lazy" alt="" src="/img/image-26@2x.png" />
                    </div>
                  </div>
                  <div class="add-entry-container-parent">
                    <div class="add-entry-container">
                      <div class="add-entry-wrapper">
                        <div class="add-entry-button">
                          <div class="add-entry-content"></div>
                        </div>
                      </div>
                    </div>
                    <button class="group-button">
                      <div class="frame-child7"></div>
                      <a href="#add-new-entry" rel="modal:open" onclick="initAddCourseHandler()"> <b class="add-new-entry">Add new entry ✚</b></a>
                    </button>
                  </div>
                </div>
                <div class="pagination-container-wrapper">
                  <nav class="pagination-container">
                    <div class="rectangle-parent1">
                      <div class="frame-child8"></div>
                      <b class="b">◀︎</b>
                    </div>
                    <div class="rectangle-parent2">
                      <div class="frame-child9"></div>
                      <b class="show-20-items">Show 20 items ▼</b>
                    </div>
                    <div class="rectangle-parent3">
                      <div class="frame-child10"></div>
                      <b class="b1">►</b>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="container-13-parent">
              <div class="container-13">
                <div class="textbox-1-wrapper">
                  <div class="textbox-1">
                    <div class="course-code">Course Code</div>
                    <div class="course-code-icon">
                      <img class="image-19-icon" alt="" src="/img/image-19@2x.png" />
                    </div>
                  </div>
                </div>
                <div class="container-5">
                  <div class="course-name-label">
                    <div class="course-name">Course Name</div>
                  </div>
                  <img class="image-14-icon" alt="" src="/img/image-14@2x.png" />
                </div>
                <div class="container-10">
                  <div class="study-period">Study Period</div>
                  <div class="descriptor-icons">
                    <img class="image-17-icon" loading="lazy" alt="" src="/img/image-17@2x.png" />
                  </div>
                </div>
                <div class="container-4">
                  <div class="academic-credits">Academic Credits</div>
                  <div class="image-15-wrapper">
                    <img class="image-15-icon" loading="lazy" alt="" src="/img/image-15@2x.png" />
                  </div>
                </div>
              </div>
              <div class="table-1">
                {{!-- <div class="header">
                  <div class="header-cells"></div>
                  <div class="header-sub-cells">
                    <div class="header-sub-cell-items"></div>
                    <div class="header-sub-cell-items1"></div>
                  </div>
                  <div class="header-cells1"></div>
                </div> --}}

                {{!-- <div class="course-rows1">
                  <div class="frame">
                    <div class="level-200-">Level 200 - First Semester</div>
                  </div>
                  <div class="frame1">
                    <div class="level-200-1">Level 200 - Second Semester</div>
                  </div>
                </div>
                <div class="course-rows2">
                  <div class="frame2">
                    <div class="project">Project</div>
                  </div>
                  <div class="frame3">
                    <div class="designing-intelligent-agents">
                      Designing Intelligent Agents
                    </div>
                  </div>
                </div> --}}
                <div class="course-list">
                  <div class="course-list-container">
                    <div class="course-list-items">
                      {{#each courses}}
                      <div class="semester-levels">
                        <div class="d-c-i-t-cluster">
                          <div class="">{{code}}</div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                    <div class="semester-container">
                      {{#each courses}}
                      <div class="semester-levels14">
                        <div class="frame8">
                          <div class="intro-to-algorithms">
                            {{name}}
                          </div>
                        </div>
                        <div class="frame9">
                          <div class="level-100-2">
                            {{studyPeriod}}
                          </div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                  <div class="grid">
                    {{#each courses}}
                    <div class="grid-rows1">
                      <div class="div">{{academicCredits}}</div>
                    </div>
                    {{/each}}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


</body>

</html>