<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trykker:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="course-database" id="courseDatabaseContainer">
      <div class="course-database-child"></div>
      <div class="course-database-item"></div>
      <div class="course-database-inner"></div>
      <div class="primary-nav">
        <div class="primary-nav-child"></div>
        <div class="secondary-nav">
          <div class="tertiary-nav">
            <div class="quaternary-nav">
              <div class="quinary-nav">
                <img
                  class="oxfordtrans-1-icon"
                  loading="lazy"
                  alt=""
                  src="/img/oxfordtrans-1@2x.png"
                />

                <div class="senary-nav">
                  <div class="line-parent">
                    <div class="frame-child"></div>
                    <div class="frame-item"></div>
                    <div class="frame-inner"></div>
                  </div>
                </div>
              </div>
            </div>
            <b class="university-of-ghana">University of Ghana</b>
          </div>
        </div>
        <div class="user-nav-parent">
          <div class="user-nav">
            <div class="user-tertiary-nav">
              <div class="user-quaternary-nav">
                <div class="user-quinary-nav">
                  <div class="user-senary-nav">
                    <div class="user-avatar" data-scroll-to="userAvatar"></div>
                    <img
                      class="profile-1-icon"
                      loading="lazy"
                      alt=""
                      src="/img/profile-1@2x.png"
                    />

                    <div class="user-greeting">
                      <b class="hi-justice" id="hiJusticeText">Hi, Justice</b>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent">
                  <div class="rectangle-div"></div>
                  <div class="image-23-parent">
                    <img
                      class="image-23-icon"
                      alt=""
                      src="/img/image-23@2x.png"
                    />

                    <b class="timetable">Timetable</b>
                    <div class="frame-child1"></div>
                    <img
                      class="image-23-icon1"
                      loading="lazy"
                      alt=""
                      src="/img/image-23@2x.png"
                    />

                    <div class="timetable-label">
                      <b class="timetable1">Timetable</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="home-1-parent">
              <img class="home-1-icon" alt="" src="/img/home-1@2x.png" />

              <b class="home">HOME</b>
              <div class="frame-child2"></div>
              <img
                class="image-24-icon"
                alt=""
                src="/img/image-24@2x.png"
              />

              <div class="courses-label">
                <b class="courses">Courses</b>
              </div>
            </button>
          </div>
          <div class="frame-parent">
            <button class="rectangle-group">
              <div class="frame-child3"></div>
              <img
                class="image-25-icon"
                alt=""
                src="/img/image-25@2x.png"
              />

              <div class="action-labels">
                <b class="lecturers">Lecturers</b>
              </div>
            </button>
            <button class="home-6-parent">
              <div class="home-6"></div>
              <div class="frame-child4"></div>
              <img class="history-icon" alt="" src="/img/history@2x.png" />

              <div class="allocations-wrapper">
                <b class="allocations">Allocations</b>
              </div>
            </button>
          </div>
          <button class="rectangle-container">
            <div class="frame-child5"></div>
            <img class="image-22-icon" alt="" src="/img/image-22@2x.png" />

            <div class="tickets-label">
              <b class="tickets">Tickets</b>
            </div>
          </button>
        </div>
        <div class="group-div">
          <div class="frame-child6"></div>
          <img
            class="image-20-icon"
            loading="lazy"
            alt=""
            src="/img/image-20@2x.png"
          />

          <div class="logout-label">
            <b class="logout">Logout</b>
          </div>
        </div>
      </div>
      <section class="content-header-wrapper">
        <div class="content-header">
          <div class="content-nav">
            <div class="content-nav-child"></div>
            <div class="courses-database-wrapper">
              <h1 class="courses-database">Courses Database</h1>
            </div>
            <div class="notification-1-1-parent">
              <img
                class="notification-1-1"
                loading="lazy"
                alt=""
                src="/img/notification-1-1@2x.png"
              />

              <div class="message-1-wrapper">
                <img
                  class="message-1-icon"
                  loading="lazy"
                  alt=""
                  src="/img/message-1@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="search-container-wrapper">
            <div class="search-container">
              <div class="search-input-container">
                <div class="search-input-wrapper-parent">
                  <div class="search-input-wrapper">
                    <div class="search-bar">
                      <a class="search">Search</a>
                      <div class="search-icons">
                        <div class="search-input-background"></div>
                        <img
                          class="image-26-icon"
                          loading="lazy"
                          alt=""
                          src="/img/image-26@2x.png"
                        />
                      </div>
                    </div>
                    <div class="add-entry-container-parent">
                      <div class="add-entry-container">
                        <div class="add-entry-wrapper">
                          <div class="add-entry-button">
                            <div class="add-entry-content"></div>
                          </div>
                        </div>
                      </div>
                      <button class="group-button">
                        <div class="frame-child7"></div>
                        <b class="add-new-entry">Add new entry ✚</b>
                      </button>
                    </div>
                  </div>
                  <div class="pagination-container-wrapper">
                    <nav class="pagination-container">
                      <div class="rectangle-parent1">
                        <div class="frame-child8"></div>
                        <b class="b">◀︎</b>
                      </div>
                      <div class="rectangle-parent2">
                        <div class="frame-child9"></div>
                        <b class="show-20-items">Show 20 items ▼</b>
                      </div>
                      <div class="rectangle-parent3">
                        <div class="frame-child10"></div>
                        <b class="b1">►</b>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="container-13-parent">
                <div class="container-13">
                  <div class="textbox-1-wrapper">
                    <div class="textbox-1">
                      <div class="course-code">Course Code</div>
                      <div class="course-code-icon">
                        <img
                          class="image-19-icon"
                          alt=""
                          src="/img/image-19@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="container-5">
                    <div class="course-name-label">
                      <div class="course-name">Course Name</div>
                    </div>
                    <img
                      class="image-14-icon"
                      alt=""
                      src="/img/image-14@2x.png"
                    />
                  </div>
                  <div class="container-10">
                    <div class="study-period">Study Period</div>
                    <div class="descriptor-icons">
                      <img
                        class="image-17-icon"
                        loading="lazy"
                        alt=""
                        src="/img/image-17@2x.png"
                      />
                    </div>
                  </div>
                  <div class="container-4">
                    <div class="academic-credits">Academic Credits</div>
                    <div class="image-15-wrapper">
                      <img
                        class="image-15-icon"
                        loading="lazy"
                        alt=""
                        src="/img/image-15@2x.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="table-1">
                  <div class="header">
                    <div class="header-cells"></div>
                    <div class="header-sub-cells">
                      <div class="header-sub-cell-items"></div>
                      <div class="header-sub-cell-items1"></div>
                    </div>
                    <div class="header-cells1"></div>
                  </div>
                  <div class="course-rows">
                    <div class="course-data">
                      <div class="programming-fundamentals">
                        Programming Fundamentals
                      </div>
                    </div>
                    <div class="second-course-data">
                      <div class="intro-to-computer">
                        Intro. to Computer Science
                      </div>
                    </div>
                  </div>
                  <div class="course-rows1">
                    <div class="frame">
                      <div class="level-200-">Level 200 - First Semester</div>
                    </div>
                    <div class="frame1">
                      <div class="level-200-1">Level 200 - Second Semester</div>
                    </div>
                  </div>
                  <div class="course-rows2">
                    <div class="frame2">
                      <div class="project">Project</div>
                    </div>
                    <div class="frame3">
                      <div class="designing-intelligent-agents">
                        Designing Intelligent Agents
                      </div>
                    </div>
                  </div>
                  <div class="course-list">
                    <div class="course-list-container">
                      <div class="course-list-items">
                        <div class="semester-levels">
                          <div class="d-c-i-t-cluster">
                            <div class="dcit-104">DCIT 104</div>
                          </div>
                          <div class="d-c-i-t-cluster1">
                            <div class="dcit-105">DCIT 105</div>
                          </div>
                        </div>
                        <div class="semester-levels1">
                          <div class="dcit-108">DCIT 108</div>
                        </div>
                        <div class="semester-levels2">
                          <div class="dcit-201">DCIT 201</div>
                        </div>
                        <div class="semester-levels3">
                          <div class="dcit-202">DCIT 202</div>
                        </div>
                        <div class="semester-levels4">
                          <div class="frame4">
                            <div class="dcit-203">DCIT 203</div>
                          </div>
                          <div class="frame5">
                            <div class="dcit-204">DCIT 204</div>
                          </div>
                        </div>
                        <div class="semester-levels5">
                          <div class="dcit-205">DCIT 205</div>
                        </div>
                        <div class="semester-levels6">
                          <div class="dcit-302">DCIT 302</div>
                        </div>
                        <div class="semester-levels7">
                          <div class="dcit-303">DCIT 303</div>
                        </div>
                        <div class="semester-levels8">
                          <div class="dcit-304">DCIT 304</div>
                        </div>
                        <div class="semester-levels9">
                          <div class="dcit-305">DCIT 305</div>
                        </div>
                        <div class="semester-levels10">
                          <div class="dcit-307">DCIT 307</div>
                        </div>
                        <div class="semester-levels11">
                          <div class="frame6">
                            <div class="dcit-400">DCIT 400</div>
                          </div>
                          <div class="frame7">
                            <div class="dcit-403">DCIT 403</div>
                          </div>
                        </div>
                        <div class="semester-levels12">
                          <div class="dcit-412">DCIT 412</div>
                        </div>
                      </div>
                      <div class="semester-container">
                        <div class="semester-levels13">
                          <div class="first-semester">
                            <div class="level-100-">
                              Level 100 - Second Semester
                            </div>
                          </div>
                          <div class="second-semester">
                            <div class="level-100-1">
                              Level 100 - First Senester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels14">
                          <div class="frame8">
                            <div class="intro-to-algorithms">
                              Intro to Algorithms
                            </div>
                          </div>
                          <div class="frame9">
                            <div class="level-100-2">
                              Level 100 - Second Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels15">
                          <div class="frame10">
                            <div class="programming-1">Programming 1</div>
                          </div>
                          <div class="frame11">
                            <div class="level-200-2">
                              Level 200 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels16">
                          <div class="frame12">
                            <div class="mobile-application-development">
                              Mobile Application Development
                            </div>
                          </div>
                          <div class="frame13">
                            <div class="level-200-3">
                              Level 200 - Second Semester
                            </div>
                          </div>
                        </div>
                        <div class="course-titles-wrapper">
                          <div class="course-titles">
                            <div class="course-title-pair">
                              <div class="digital-and-logic">
                                Digital and Logic Systems Design
                              </div>
                            </div>
                            <div class="course-title-pair1">
                              <div class="data-structures-and">
                                Data Structures and Algorithm1
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels17">
                          <div class="frame14">
                            <div class="multimedia-and-web">
                              Multimedia and Web Design
                            </div>
                          </div>
                          <div class="frame15">
                            <div class="level-200-4">
                              Level 200 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels18">
                          <div class="frame16">
                            <div class="human-computer-interaction">
                              Human Computer Interaction
                            </div>
                          </div>
                          <div class="frame17">
                            <div class="level-300-">
                              Level 300 - Second Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels19">
                          <div class="frame18">
                            <div class="computer-networks">
                              Computer Networks
                            </div>
                          </div>
                          <div class="frame19">
                            <div class="level-300-1">
                              Level 300 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels20">
                          <div class="frame20">
                            <div class="research-methods">Research Methods</div>
                          </div>
                          <div class="frame21">
                            <div class="level-300-2">
                              Level 300 - Second Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels21">
                          <div class="frame22">
                            <div class="database-fundamentals">
                              Database Fundamentals
                            </div>
                          </div>
                          <div class="frame23">
                            <div class="level-300-3">
                              Level 300 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels22">
                          <div class="frame24">
                            <div class="mini-project">Mini Project</div>
                          </div>
                          <div class="frame25">
                            <div class="level-300-4">
                              Level 300 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels23">
                          <div class="frame26">
                            <div class="level-400-">
                              Level 400 - Second Semester
                            </div>
                          </div>
                          <div class="frame27">
                            <div class="level-400-1">
                              Level 400 - First Semester
                            </div>
                          </div>
                        </div>
                        <div class="semester-levels24">
                          <div class="frame28">
                            <div class="computer-vision">Computer Vision</div>
                          </div>
                          <div class="frame29">
                            <div class="level-400-2">
                              Level 400 - Second Semester
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="grid-rows">
                        <div class="grid-row">
                          <div class="grid-cells">3</div>
                        </div>
                        <div class="grid-row1">
                          <div class="grid-cells1">3</div>
                        </div>
                      </div>
                      <div class="grid-rows1">
                        <div class="div">3</div>
                      </div>
                      <div class="grid-rows2">
                        <div class="div1">3</div>
                      </div>
                      <div class="grid-rows3">
                        <div class="div2">3</div>
                      </div>
                      <div class="grid-rows4">
                        <div class="frame30">
                          <div class="div3">3</div>
                        </div>
                        <div class="frame31">
                          <div class="div4">3</div>
                        </div>
                      </div>
                      <div class="grid-rows5">
                        <div class="div5">3</div>
                      </div>
                      <div class="grid-rows6">
                        <div class="div6">3</div>
                      </div>
                      <div class="grid-rows7">
                        <div class="div7">3</div>
                      </div>
                      <div class="grid-rows8">
                        <div class="div8">3</div>
                      </div>
                      <div class="grid-rows9">
                        <div class="div9">3</div>
                      </div>
                      <div class="grid-rows10">
                        <div class="div10">3</div>
                      </div>
                      <div class="grid-rows11">
                        <div class="frame32">
                          <div class="div11">3</div>
                        </div>
                        <div class="frame33">
                          <div class="div12">3</div>
                        </div>
                      </div>
                      <div class="grid-rows12">
                        <div class="div13">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var hiJusticeText = document.getElementById("hiJusticeText");
      if (hiJusticeText) {
        hiJusticeText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='userAvatar']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var courseDatabaseContainer = document.getElementById(
        "courseDatabaseContainer"
      );
      if (courseDatabaseContainer) {
        courseDatabaseContainer.addEventListener("click", function (e) {
          window.location.href = "./lecturers-database.html";
        });
      }
      </script>
  </body>
</html>
