<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/lecturers-database.css" />
  <link rel="stylesheet" href="/css/timetable.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trykker:wght@400&display=swap" />

  <!-- Remember to include jQuery :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
  <div id="add-new-entry" class="modal">
    <p>Add new entry form goes here</p>

<style>

.input_DIV{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 0.1rem;
    z-index: 10;
}
.input{
   border-radius: 1rem;
   height: 3rem;
}

.input_DIV label{
  margin-top: 10px;

}

.course_title {
    font-weight: 500;
    background: #052169;
    padding: 0.5rem;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    width: 50%;
    left: 25%;
    right: 25%;
    margin-top: -2rem;
}
.buttons{
  width: 10rem !important;
  padding: 0.5rem !important;
  height: 3rem;
  border-radius: 25px;
  border: 10px solid white;
}
.buttons:hover{
  cursor: pointer;
}

.cancel{
  background: red !important;
  text-decoration: none;
  color: white;
}
.confirm{
    background: #052169;
    color: white;
}

{{!- --}}
  
</style>

<body>
  <div id="add-new-entry" class="modal">
    <p> <div class="main-container">

      <div class="rectangle">
        <h6 class="couse_head" align="center">
          <span class="course_title">ADD LECTURER</span>
        </h6>

          <div style="margin-top: 1rem;">
          <div class="input_DIV">

            <input type="text" class="input" id="course_code">

            <Label for="course_code">Staff Name</Label>

          </div>

                    <div class="input_DIV">

            <input type="text" class="input" id="course_name">

            <Label for="course_name">Staff ID</Label>

          </div>

          <div class="input_DIV">

            <input type="text" class="input" id="course_period">

            <Label for="course_period">Email</Label>

          </div>

                    <div class="input_DIV">

            <input type="text" class="input" id="course_period">

            <Label for="course_period">Phone Number</Label>

          </div>

       <div class="input_DIV">

            <input type="text" class="input" id="course_credits">

            <Label for="course_credits">Department</Label>

          </div>
          </div>



        <h6 class="rectangle-5" align="center" style="padding: 10px;">
         {{!-- <a href="#" rel="modal:close" class="buttons cancel">CANCEL</a
          > --}}
          <button class="submit-button buttons confirm">SUBMIT</button>
        </h6>
      </div>


      {{!-- <div class="rectangle">
        <div class="flex-row">
          <button class="rectangle-button"></button>
          <div class="image"></div>
          <span class="add-lecturer">ADD LECTURER </span>
        </div>
        <span class="staff-name">Staff Name</span>
        <div class="rectangle-1"></div>
        <div class="flex-row-2">
          <span class="staff-id">Staff ID </span>
          <div class="rectangle-3"></div>
        </div>
        <div class="flex-row-e">
          <div class="rectangle-4"></div>
          <span class="email">Email </span>
        </div>
        <div class="flex-row-cae">
          <div class="rectangle-5"></div>
          <span class="phone">Phone </span>
        </div>
        <div class="flex-row-f">
          <span class="department">Department</span>
          <div class="rectangle-6"></div>
        </div>
        <div class="rectangle-7">
          <button class="cancel-button">CANCEL</button
          ><button class="submit-button">SUBMIT</button>
        </div>
      </div> --}}
      <div class="flex-column-f">
        <div class="line"></div>
        <div class="line-8"></div>
        <div class="line-9"></div>
        <div class="line-a"></div>
        <div class="line-b"></div>
        <div class="line-c"></div>
      </div>
      <span class="span"></span>
    </div></p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  <div class="lecturers-database" id="lecturersDatabaseContainer">
    <div class="lecturers-database-child"></div>
    <div class="lecturers-database-item"></div>
    <div class="lecturers-database-inner"></div>
    {{> sidebar}}
    <main class="page-header">
      <section class="header-content">
        <header class="header-left">
          <div class="header-title">
            <div class="header-title-child"></div>
            <div class="page-title">
              <h1 class="lecturers-database1">Lecturers Database</h1>
            </div>
            <div class="notifications">
              <img class="notification-1-12" loading="lazy" alt="" src="/img/notification-1-1@2x.png" />

              <div class="messages">
                <img class="message-1-icon2" loading="lazy" alt="" src="/img/message-1@2x.png" />
              </div>
            </div>
          </div>
          <div class="header-right">
            <div class="search-input-parent">
              <div class="search-input">
                <div class="search-content">
                  <h3 class="search1">Search</h3>
                  <div class="search-icons1">
                    <div class="search-input-icon"></div>
                    <img class="image-26-icon1" loading="lazy" alt="" src="/img/image-26@2x.png" />
                  </div>
                </div>
                <div class="table-actions">
                  <div class="add-entry">
                    <div class="add-entry-button1">
                      <div class="add-entry-icon">
                        <div class="add-entry-placeholder"></div>
                      </div>
                    </div>
                  </div>
                  <button class="rectangle-parent15">
                    <div class="frame-child34"></div>
                    <a href="#add-new-entry" rel="modal:open"> <b class="add-new-entry1">Add new entry ✚</b></a>
                  </button>
                </div>
              </div>
              <div class="pagination">
                <div class="page-navigation">
                  <div class="rectangle-parent16">
                    <div class="frame-child35"></div>
                    <h3 class="h3">◀︎</h3>
                  </div>
                  <div class="rectangle-parent17">
                    <div class="frame-child36"></div>
                    <h3 class="show-20-items1">Show 20 items ▼</h3>
                  </div>
                  <div class="rectangle-parent18">
                    <div class="frame-child37"></div>
                    <h3 class="h31">►</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
<<<<<<< HEAD
=======
        {{!-- I need the browser  --}}
>>>>>>> 06df64b (Initial commit)
        <footer class="table-content">
          <div class="table">
            <div class="table-header1">
              <div class="table-header-row">
                <div class="container-149">
                  <div class="staff-name">Staff Name</div>
                  <div class="name-icons">
                    <div class="frame-parent21">
                      <div class="image-40-parent">
                        <img class="image-40-icon" alt="" src="/img/image-40@2x.png" />

                        <img class="image-41-icon" alt="" src="/img/image-40@2x.png" />

                        <img class="image-42-icon" alt="" src="/img/image-40@2x.png" />
                      </div>
                      <img class="image-43-icon" loading="lazy" alt="" src="/img/image-40@2x.png" />
                    </div>
                  </div>
                </div>
                <div class="container-119">
                  <div class="staff-id1">Staff ID</div>
                  <div class="header-icons">
                    <img class="image-44-icon" loading="lazy" alt="" src="/img/image-40@2x.png" />
                  </div>
                </div>
                <div class="container-164">
                  <input class="email1" placeholder="Email" type="text" />

                  <div class="image-39-container">
                    <img class="image-39-icon1" alt="" src="/img/image-39@2x.png" />
                  </div>
                </div>
                <div class="container-134">
                  <div class="phone">Phone</div>
                  <div class="phone-icon">
                    <img class="image-41-icon1" alt="" src="/img/image-41-1@2x.png" />
                  </div>
                  <img class="image-39-icon2" alt="" src="/img/image-39@2x.png" />
                </div>
              </div>
              <div class="first-row">
                <div class="first-row-cells">
                  <div class="container-163">
                    <div class="abdulaijamal-deen">Abdulai,Jamal-Deen</div>
                  </div>
                  <div class="container-133">
                    <div class="div53">10178972</div>
                  </div>
                </div>
                <input class="container-148" placeholder="0255363782" type="text" />
              </div>
              <div class="second-row">
<<<<<<< HEAD
                <div class="second-row-cells">
                  <div class="container-150">
                    <div class="abdul-azizdwumfour-abdullai">
                      Abdul-Aziz,Dwumfour Abdullai
                    </div>
                    <div class="appati-justice">Appati, Justice</div>
                    <div class="benuwaben-bright">Benuwa,Ben-Bright</div>
                  </div>
                  <div class="container-120">
                    <div class="div54">10256378</div>
                    <div class="div55">10238493</div>
                    <div class="div56">10236343</div>
                  </div>
                </div>
                <div class="container-135">
                  <div class="wrapper13">
                    <div class="div57">0277654452</div>
                  </div>
                  <div class="container-136">
                    <div class="empty-space">0245362273</div>
                    <div class="empty-space1">0274536728</div>
                  </div>
                </div>
              </div>
            </div>
=======
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Abdul-Aziz,Dwumfour Abdullai
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10256378</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0277654452</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Appati, Justice
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10238493</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0245362273</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Benuwa,Ben-Bright
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10236343</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0274536728</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Boakye-SakyiPaul
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10122934</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0552236813</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Ecklu, Joseph Kobla
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10153425</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0245271192</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Mensah Solomon
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10147508</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0557774834</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Owusu,Ebenenezer
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10035467</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0277764534</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Soli,Michael Agbo
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10109876</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0243452634</div>
    </div>
  </div>
</div>

<div class="second-row">
  <div class="second-row-cells">
    <div class="container-150">
      <div class="abdul-azizdwumfour-abdullai">
        Wiafe, Isaac
      </div>
    </div>
    <div class="container-120">
      <div class="div54">10120093</div>
    </div>
  </div>
  <div class="container-135">
    <div class="wrapper13">
      <div class="div57">0545454206</div>
    </div>
  </div>
</div>


            </div>

            {{!-- Departments --}}
>>>>>>> 06df64b (Initial commit)
            <div class="department-row">
              <div class="container-165">
                <div class="department">Department</div>
                <div class="department-icon">
                  <img class="image-42-icon1" alt="" src="/img/image-42-1@2x.png" />
                </div>
              </div>
              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>
<<<<<<< HEAD
              <div class="container-166">
                <div class="computer-science1">Computer Science</div>
                <div class="computer-science2">Computer Science</div>
                <div class="computer-science3">Computer Science</div>
              </div>
            </div>
          </div>
          <div class="lecturers-table">
            <div class="table-content1">
              <div class="department-lecturers">
                <div class="lecturer-rows">
                  <div class="container-153">
                    <div class="boakye-sakyipaul">Boakye-SakyiPaul</div>
                  </div>
                  <div class="container-154">
                    <div class="ecklu-joseph-kobla">Ecklu, Joseph Kobla</div>
                    <input class="mensah-solomon" placeholder="Mensah Solomon" type="text" />
                  </div>
                </div>
                <div class="lecturer-rows1">
                  <div class="container-123">
                    <div class="div58">10122934</div>
                  </div>
                  <div class="container-124">
                    <div class="div59">10153425</div>
                    <div class="div60">10147508</div>
                  </div>
                </div>
              </div>
              <div class="department-details">
                <div class="department-info">
                  <div class="container-138">
                    <div class="empty-cell">0552236813</div>
                  </div>
                  <div class="container-139">
                    <div class="wrapper14">
                      <div class="div61">0245271192</div>
                    </div>
                    <input class="container-142" placeholder="0557774834" type="text" />
                  </div>
                </div>
                <div class="department-info-row">
                  <div class="container-169">
                    <div class="computer-science4">Computer Science</div>
                  </div>
                  <div class="container-170">
                    <div class="computer-science5">Computer Science</div>
                    <div class="computer-science6">Computer Science</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="department-lecturers1">
              <div class="lecturer-rows2">
                <div class="lecturer-row">
                  <div class="lecturer-info">
                    <div class="container-158">
                      <div class="owusuebenenezer">Owusu,Ebenenezer</div>
                    </div>
                    <div class="container-159">
                      <div class="solimichael-agbo">Soli,Michael Agbo</div>
                    </div>
                  </div>
                  <div class="department-info1">
                    <div class="container-128">
                      <div class="department-value">10035467</div>
                    </div>
                    <div class="container-129">
                      <div class="department-value1">10109876</div>
                    </div>
                  </div>
                </div>
                <div class="lecturer-row1">
                  <div class="container-143-parent">
                    <div class="container-143">
                      <div class="div62">0277764534</div>
                    </div>
                    <div class="container-144">
                      <div class="div63">0243452634</div>
                    </div>
                  </div>
                  <div class="container-174-parent">
                    <div class="container-174">
                      <div class="computer-science7">Computer Science</div>
                    </div>
                    <div class="container-175">
                      <div class="computer-science8">Computer Science</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lecturer-rows3">
                <div class="lecturer-row2">
                  <div class="container-162">
                    <div class="wiafe-isaac">Wiafe, Isaac</div>
                  </div>
                  <div class="container-132">
                    <div class="department-value2">10120093</div>
                  </div>
                </div>
                <div class="lecturer-row3">
                  <div class="container-147">
                    <div class="div64">0545454206</div>
                  </div>
                  <div class="container-178">
                    <div class="computer-science9">Computer Science</div>
                  </div>
                </div>
=======

                 <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

                 <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

                <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
              </div>

              <div class="container-176">
                <div class="computer-science">Computer Science</div>
>>>>>>> 06df64b (Initial commit)
              </div>
            </div>
          </div>
        </footer>
      </section>
    </main>
  </div>

  <script>
    var hiJusticeText = document.getElementById("hiJusticeText");
    if (hiJusticeText) {
      hiJusticeText.addEventListener("click", function () {
        var anchor = document.querySelector("[data-scroll-to='profilePicture']");
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
    }

    {
      {
        !-- var lecturersDatabaseContainer = document.getElementById(
          "lecturersDatabaseContainer"
        );
        if (lecturersDatabaseContainer) {
          lecturersDatabaseContainer.addEventListener("click", function (e) {
            window.location.href = "./allocations.html";
          });
        } --}
    }
  </script>
</body>

</html>