.password-image-child {
  width: 572px;
  height: 1001px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.image-19-icon2 {
  height: 242px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.image-holder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-14xl);
}
.forgot-password1 {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.image-holder-parent {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
}
.image-container {
  width: 485px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.enter-email {
  position: relative;
  z-index: 1;
}
.email-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-17xl);
}
.email-input,
.input-box {
  align-self: stretch;
  flex: 1;
}
.input-box {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-400);
  z-index: 1;
}
.email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.frame-child21 {
  height: 46.1px;
  width: 488px;
  position: relative;
  border-radius: var(--br-6xl);
  display: none;
  max-width: 100%;
}
.sumbit1 {
  width: 133px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
  z-index: 1;
}
.submit-button,
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-3xs-7)
    var(--padding-18xl);
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-6xl);
  justify-content: center;
  z-index: 1;
}
.vector-group:hover {
  background-color: var(--color-steelblue-100);
}
.submit-button {
  width: 500px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs);
}
.email-input-parent {
  align-self: stretch;
  height: 286.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 111px;
  max-width: 100%;
}
.password-image,
.password-image-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.password-image {
  width: 572px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-7xl) var(--padding-17xl) 223.9px var(--padding-xl);
  gap: 128px;
  max-width: 100%;
}
.password-image-wrapper {
  height: 1132px;
  width: 1747px;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-26xl) 580px;
  max-width: 102%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
.desktop-1 {
  height: 1117px;
  width: 1594px;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.desktop-1,
.forgot-password,
.wireframe-11 {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.wireframe-11 {
  height: 1024px;
  width: 1440px;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.forgot-password {
  width: 100%;
  height: 1117px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .password-image-wrapper {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .enter-email,
  .forgot-password1 {
    font-size: var(--font-size-7xl);
  }
  .password-image {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-127xl);
    box-sizing: border-box;
  }
  .password-image-wrapper {
    padding-left: var(--padding-271xl);
    padding-right: var(--padding-271xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .email-input {
    gap: var(--gap-xl);
  }
  .email-input-parent {
    gap: 55px;
  }
  .password-image {
    gap: 64px;
    padding-bottom: var(--padding-76xl);
    box-sizing: border-box;
  }
  .password-image-wrapper {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-lgi);
  }
  .image-holder-parent {
    gap: var(--gap-9xl);
  }
  .enter-email,
  .sumbit1 {
    font-size: var(--font-size-lgi);
  }
  .email-input-parent {
    gap: var(--gap-9xl);
  }
  .password-image {
    gap: 32px;
  }
  .password-image-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
