:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 709px;
  height: 861px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 629px;
  height: 789px;
  top: 36px;
  left: 40px;
  background: #d1e2e9;
  z-index: 10;
  border-radius: 20px;
}
.flex-row {
  position: relative;
  width: 531px;
  height: 76.926px;
  margin: 13px 0 0 90px;
  z-index: 15;
}
.rectangle-button {
  position: absolute;
  width: 453px;
  height: 56.824px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #042068;
  border: none;
  z-index: 13;
  border-radius: 20px;
}
.image {
  position: absolute;
  width: 29px;
  height: 30px;
  top: 0;
  left: 502px;
  background: url(./assets/images/ecf5db18c491c376acd15772dd7da719e49e47c8.png)
    no-repeat center;
  background-size: contain;
  z-index: 11;
}
.add-lecturer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 389px;
  height: 63.926px;
  top: 13px;
  left: 108px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.727px;
  text-align: left;
  z-index: 15;
}
.staff-name {
  display: block;
  position: relative;
  height: 33px;
  margin: 43.074px 0 0 45px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.rectangle-1 {
  position: relative;
  width: 568px;
  height: 45px;
  margin: 25px 0 0 39px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 27;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.flex-row-2 {
  position: relative;
  width: 562px;
  height: 45px;
  margin: 40px 0 0 45px;
  z-index: 23;
}
.staff-id {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 31.456px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.rectangle-3 {
  position: absolute;
  width: 344px;
  height: 45px;
  top: 0;
  left: 218px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 23;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.flex-row-e {
  position: relative;
  width: 562px;
  height: 45px;
  margin: 42px 0 0 45px;
  z-index: 24;
}
.rectangle-4 {
  position: absolute;
  width: 344px;
  height: 45px;
  top: 0;
  left: 218px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 24;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 2px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.flex-row-cae {
  position: relative;
  width: 566px;
  height: 45px;
  margin: 42px 0 0 45px;
  z-index: 25;
}
.rectangle-5 {
  position: absolute;
  width: 344px;
  height: 45px;
  top: 0;
  left: 222px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 25;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.phone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 10px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 573px;
  height: 45px;
  margin: 42px 0 0 38px;
  z-index: 26;
}
.department {
  flex-shrink: 0;
  position: relative;
  height: 33px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.rectangle-6 {
  flex-shrink: 0;
  position: relative;
  width: 344px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 26;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  position: relative;
  width: 547.5px;
  height: 61px;
  margin: 94px 0 0 39px;
  background: url(./assets/images/9c3462cf-e0bd-436d-964d-6510dd5294a0.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.cancel-button {
  position: absolute;
  width: 170px;
  height: 31.456px;
  top: 15px;
  left: 47px;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 17;
}
.submit-button {
  position: absolute;
  width: 170px;
  height: 31.456px;
  top: 15px;
  left: 378px;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.456px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 18;
}
.flex-column-f {
  position: absolute;
  width: 69px;
  height: 29px;
  top: 93px;
  left: 50%;
  transform: translate(-758.7%, 0);
  z-index: 8;
}
.line {
  position: relative;
  width: 49px;
  margin: 0 0 0 20px;
  background: url(./assets/images/e95d9501-8fd0-40d1-bf6a-07c44f5e2f7c.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.line-8 {
  position: relative;
  width: 49px;
  margin: 3px 0 0 0;
  background: url(./assets/images/ef7cc51c-3ef1-411d-9a13-643c56dbbdf7.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.line-9 {
  position: relative;
  width: 49px;
  margin: 9px 0 0 20px;
  background: url(./assets/images/887cb0da-c4b0-44f1-8bbc-399eda7416ab.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.line-a {
  position: relative;
  width: 49px;
  margin: 3px 0 0 0;
  background: url(./assets/images/8776a79b-b2c9-42c7-9bc9-6ab0fcda4697.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.line-b {
  position: relative;
  width: 38px;
  margin: 11px 0 0 20px;
  background: url(./assets/images/eff0ba02-114c-4448-9742-f7bf1587798a.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.line-c {
  position: relative;
  width: 38px;
  margin: 3px 0 0 0;
  background: url(./assets/images/894f0550-f70c-4251-b08e-f1c0032476b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 6px;
  height: 13px;
  top: 553px;
  left: 1677px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 12.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
