<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/allocations.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trykker:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="allocations3" id="allocationsContainer">
      <div class="rectangle-parent19">
        <div class="frame-child38"></div>
        <div class="frame-wrapper11">
          <div class="frame-parent22">
            <div class="frame-wrapper12">
              <div class="oxfordtrans-1-group">
                <img
                  class="oxfordtrans-1-icon3"
                  loading="lazy"
                  alt=""
                  src="/img/oxfordtrans-11@2x.png"
                />

                <div class="frame-wrapper13">
                  <div class="line-parent1">
                    <div class="frame-child39"></div>
                    <div class="frame-child40"></div>
                    <div class="frame-child41"></div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="university-of-ghana3">University of Ghana</h2>
          </div>
        </div>
        <div class="frame-parent23">
          <div class="frame-parent24">
            <div class="frame-wrapper14">
              <div class="frame-parent25">
                <div class="frame-wrapper15">
                  <div class="profile-b-g-parent">
                    <div class="profile-b-g" data-scroll-to="profileBG"></div>
                    <img
                      class="profile-1-icon3"
                      loading="lazy"
                      alt=""
                      src="/img/profile-1@2x.png"
                    />

                    <div class="hi-justice-wrapper">
                      <h2 class="hi-justice3" id="hiJusticeText">
                        Hi, Justice
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent20">
                  <div class="frame-child42"></div>
                  <img
                    class="image-23-icon4"
                    loading="lazy"
                    alt=""
                    src="/img/image-23@2x.png"
                  />

                  <div class="timetable-frame">
                    <b class="timetable6">Timetable</b>
                  </div>
                </div>
              </div>
            </div>
            <button class="home-1-parent1">
              <img class="home-1-icon3" alt="" src="/img/home-1@2x.png" />

              <b class="home3">HOME</b>
              <div class="frame-child43"></div>
              <img
                class="image-24-icon3"
                alt=""
                src="/img/image-24@2x.png"
              />

              <div class="courses-container">
                <b class="courses3">Courses</b>
              </div>
            </button>
          </div>
          <div class="frame-parent26">
            <button class="rectangle-parent21">
              <div class="frame-child44"></div>
              <img
                class="image-25-icon3"
                alt=""
                src="/img/image-25@2x.png"
              />

              <div class="lecturers-container">
                <b class="lecturers3">Lecturers</b>
              </div>
            </button>
            <button class="home-6-parent1">
              <div class="home-63"></div>
              <div class="frame-child45"></div>
              <img class="history-icon3" alt="" src="/img/history@2x.png" />

              <div class="allocations-wrapper1">
                <b class="allocations4">Allocations</b>
              </div>
            </button>
          </div>
          <button class="rectangle-parent22">
            <div class="frame-child46"></div>
            <img class="image-22-icon3" alt="" src="/img/image-22@2x.png" />

            <div class="tickets-container">
              <b class="tickets3">Tickets</b>
            </div>
          </button>
        </div>
        <div class="rectangle-parent23">
          <div class="frame-child47"></div>
          <img
            class="image-20-icon3"
            loading="lazy"
            alt=""
            src="/img/image-20@2x.png"
          />

          <div class="logout-container">
            <b class="logout3">Logout</b>
          </div>
        </div>
      </div>
      <div class="allocations-child"></div>
      <div class="allocations-item"></div>
      <div class="allocations-inner"></div>
      <section class="allocations-inner1">
        <div class="frame-parent27">
          <div class="frame-parent28">
            <div class="rectangle-parent24">
              <div class="frame-child48"></div>
              <div class="allocations-database-wrapper">
                <h1 class="allocations-database">Allocations Database</h1>
              </div>
              <div class="notification-1-1-group">
                <img
                  class="notification-1-13"
                  loading="lazy"
                  alt=""
                  src="/img/notification-1-1@2x.png"
                />

                <div class="message-1-container">
                  <img
                    class="message-1-icon3"
                    loading="lazy"
                    alt=""
                    src="/img/message-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="frame-wrapper16">
              <div class="frame-parent29">
                <div class="frame-parent30">
                  <div class="search-parent">
                    <h3 class="search2">Search</h3>
                    <div class="search-input-b-g-parent">
                      <div class="search-input-b-g"></div>
                      <img
                        class="image-26-icon2"
                        loading="lazy"
                        alt=""
                        src="/img/image-26@2x.png"
                      />
                    </div>
                  </div>
                  <div class="frame-parent31">
                    <div class="frame-wrapper17">
                      <div class="frame-wrapper18">
                        <div class="frame-wrapper19">
                          <div class="frame-child49"></div>
                        </div>
                      </div>
                    </div>
                    <button class="rectangle-parent25">
                      <div class="frame-child50"></div>
                      <b class="add-new-entry2">Add new entry ✚</b>
                    </button>
                  </div>
                </div>
                <div class="frame-wrapper20">
                  <nav class="frame-nav">
                    <div class="rectangle-parent26">
                      <div class="frame-child51"></div>
                      <h3 class="h32">◀︎</h3>
                    </div>
                    <div class="rectangle-parent27">
                      <div class="frame-child52"></div>
                      <h3 class="show-20-items2">Show 20 items ▼</h3>
                    </div>
                    <div class="rectangle-parent28">
                      <div class="frame-child53"></div>
                      <h3 class="h33">►</h3>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent32">
            <div class="container-18-parent">
              <div class="container-18">
                <div class="staff-id2">Staff ID</div>
              </div>
              <div class="container-20">
                <div class="course-code2">Course Code</div>
                <div class="image-30-wrapper">
                  <img
                    class="image-30-icon"
                    loading="lazy"
                    alt=""
                    src="/img/image-30@2x.png"
                  />
                </div>
              </div>
              <div class="container-22">
                <div class="staff-names">Staff Name(s)</div>
                <div class="image-25-wrapper">
                  <img
                    class="image-25-icon4"
                    loading="lazy"
                    alt=""
                    src="/img/image-25-1@2x.png"
                  />
                </div>
              </div>
              <div class="container-16">
                <div class="date-ddmm">Date (dd/mm)</div>
                <div class="image-29-wrapper">
                  <img
                    class="image-29-icon"
                    alt=""
                    src="/img/image-29@2x.png"
                  />
                </div>
              </div>
              <div class="container-15">
                <div class="year1">Year</div>
              </div>
              <div class="container-21">
                <div class="number-of-students1">Number of Students</div>
                <div class="image-24-wrapper">
                  <img
                    class="image-24-icon4"
                    alt=""
                    src="/img/image-24-1@2x.png"
                  />
                </div>
              </div>
              <div class="container-19">
                <div class="mode-of-exams1">Mode of Exams</div>
                <div class="image-27-wrapper">
                  <img
                    class="image-27-icon"
                    alt=""
                    src="/img/image-27@2x.png"
                  />
                </div>
              </div>
              <div class="container-17">
                <div class="semester1">Semester</div>
                <div class="image-31-wrapper">
                  <img
                    class="image-31-icon"
                    alt=""
                    src="/img/image-31@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="image-20-parent">
              <img
                class="image-20-icon4"
                loading="lazy"
                alt=""
                src="/img/image-20-1@2x.png"
              />

              <img
                class="image-22-icon4"
                loading="lazy"
                alt=""
                src="/img/image-22-1@2x.png"
              />

              <div class="table-3-parent">
                <div class="table-3">
                  <div class="header2">
                    <div class="header-row">
                      <div class="div65">10122934</div>
                    </div>
                    <div class="department-row1">
                      <div class="dcit-1021">DCIT 102</div>
                    </div>
                    <div class="course-code-row">
                      <div class="course-code-content"></div>
                    </div>
                    <div class="frame55">
                      <div class="div66">09/06</div>
                    </div>
                    <div class="frame56">
                      <div class="div67">2023</div>
                    </div>
                    <div class="frame57">
                      <div class="div68">463</div>
                    </div>
                    <div class="exam-mode-row">
                      <div class="online-onsite1">Online/ Onsite</div>
                    </div>
                    <div class="semester-row">
                      <div class="second4">Second</div>
                    </div>
                  </div>
                  <div class="row3">
                    <div class="frame58">
                      <div class="div69">10147508</div>
                    </div>
                    <div class="frame59">
                      <div class="dcit-2042">DCIT 204</div>
                    </div>
                    <div class="frame60">
                      <div class="text3"></div>
                    </div>
                    <div class="frame61">
                      <div class="div70">09/06</div>
                    </div>
                    <div class="frame62">
                      <div class="div71">2023</div>
                    </div>
                    <div class="frame63">
                      <div class="div72">372</div>
                    </div>
                    <div class="frame64">
                      <div class="written2">Written</div>
                    </div>
                    <div class="frame65">
                      <div class="second5">Second</div>
                    </div>
                  </div>
                  <div class="row4">
                    <div class="frame66">
                      <div class="div73">10164384</div>
                    </div>
                    <div class="frame67">
                      <div class="dcit-3022">DCIT 302</div>
                    </div>
                    <div class="frame68">
                      <div class="text4"></div>
                    </div>
                    <div class="frame69">
                      <div class="div74">09/06</div>
                    </div>
                    <div class="frame70">
                      <div class="div75">2023</div>
                    </div>
                    <div class="frame71">
                      <div class="div76">332</div>
                    </div>
                    <div class="frame72">
                      <div class="written3">Written</div>
                    </div>
                    <div class="frame73">
                      <div class="second6">Second</div>
                    </div>
                  </div>
                  <div class="row5">
                    <div class="frame74">
                      <div class="div77">10156728</div>
                    </div>
                    <div class="frame75">
                      <div class="dcit-4122">DCIT 412</div>
                    </div>
                    <div class="frame76">
                      <div class="text5"></div>
                    </div>
                    <div class="frame77">
                      <div class="div78">09/06</div>
                    </div>
                    <div class="frame78">
                      <div class="div79">2023</div>
                    </div>
                    <div class="frame79">
                      <div class="div80">103</div>
                    </div>
                    <div class="frame80">
                      <div class="online-offsite1">Online/ Offsite</div>
                    </div>
                    <div class="frame81">
                      <div class="second7">Second</div>
                    </div>
                  </div>
                  <div class="row6">
                    <div class="frame82">
                      <div class="div81">10120093</div>
                    </div>
                    <div class="frame83">
                      <div class="dcit-1041">DCIT 104</div>
                    </div>
                    <div class="frame84">
                      <div class="text6"></div>
                    </div>
                    <div class="frame85">
                      <div class="div82">11/06</div>
                    </div>
                    <div class="frame86">
                      <div class="div83">2023</div>
                    </div>
                    <div class="frame87">
                      <div class="div84">463</div>
                    </div>
                    <div class="frame88">
                      <div class="written4">Written</div>
                    </div>
                    <div class="frame89">
                      <div class="second8">Second</div>
                    </div>
                  </div>
                  <div class="row7">
                    <div class="frame90">
                      <div class="div85">10109876</div>
                    </div>
                    <div class="frame91">
                      <div class="dcit-3041">DCIT 304</div>
                    </div>
                    <div class="frame92">
                      <div class="text7"></div>
                    </div>
                    <div class="frame93">
                      <div class="div86">11/06</div>
                    </div>
                    <div class="frame94">
                      <div class="div87">2023</div>
                    </div>
                    <div class="frame95">
                      <div class="div88">91</div>
                    </div>
                    <div class="frame96">
                      <div class="written5">Written</div>
                    </div>
                    <div class="frame97">
                      <div class="second9">Second</div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper21">
                  <div class="image-21-parent">
                    <img
                      class="image-21-icon"
                      loading="lazy"
                      alt=""
                      src="/img/image-21@2x.png"
                    />

                    <img
                      class="image-28-icon"
                      loading="lazy"
                      alt=""
                      src="/img/image-28@2x.png"
                    />

                    <img
                      class="image-26-icon3"
                      loading="lazy"
                      alt=""
                      src="/img/image-26-1@2x.png"
                    />

                    <img
                      class="image-23-icon5"
                      loading="lazy"
                      alt=""
                      src="/img/image-23-1@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var hiJusticeText = document.getElementById("hiJusticeText");
      if (hiJusticeText) {
        hiJusticeText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='profileBG']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var allocationsContainer = document.getElementById("allocationsContainer");
      if (allocationsContainer) {
        allocationsContainer.addEventListener("click", function (e) {
          window.location.href = "./view-tickets.html";
        });
      }
      </script>
  </body>
</html>
